<!--begin::Menu wrapper-->
<div
  id="kt_app_sidebar_menu_wrapper"
  class="app-sidebar-wrapper hover-scroll-overlay-y my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <span class="mx-5" style="font-size: 15px; color: white;font-weight: bold;">Configuradores</span>
    <a class="menu-item without-sub" routerLink="/configuracion/categoria">
      <span class="menu-link"
        ><span class="menu-icon"> </span>
        <span class="menu-title">Categoria</span>
      </span>
    </a>
    <a class="menu-item without-sub" routerLink="/configuracion/escala">
      <span class="menu-link"
        ><span class="menu-icon"> </span>
        <span class="menu-title">Escala</span>
      </span>
    </a>
    <a class="menu-item without-sub" routerLink="/configuracion/provincia">
      <span class="menu-link"
        ><span class="menu-icon"> </span>
        <span class="menu-title">Provincia</span>
      </span>
    </a>
    <a class="menu-item without-sub" routerLink="/configuracion/ciudad">
      <span class="menu-link"
        ><span class="menu-icon"> </span>
        <span class="menu-title">Ciudad</span>
      </span>
    </a>
    <a class="menu-item without-sub" routerLink="/configuracion/sucursal">
      <span class="menu-link"
        ><span class="menu-icon"> </span>
        <span class="menu-title">Sucursal</span>
      </span>
    </a>
    <a class="menu-item without-sub" routerLink="/configuracion/encuesta">
      <span class="menu-link"
        ><span class="menu-icon"> </span>
        <span class="menu-title">Encuesta</span>
      </span>
    </a>
    <a class="menu-item without-sub" routerLink="/configuracion/encuestado">
      <span class="menu-link"
        ><span class="menu-icon"> </span>
        <span class="menu-title">Encuestado</span>
      </span>
    </a>
    <span class="mx-5" style="font-size: 15px; color: white;font-weight: bold;">Requerimiento</span>
    <a class="menu-item without-sub" routerLink="/requerimiento/newencuesta">
      <span class="menu-link"
        ><span class="menu-icon"> </span>
        <span class="menu-title">Nueva Encuesta</span>
      </span>
    </a>
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
